<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog autoReload="true">
    <targets>
      <target name="WriteTo" type="File" deleteOldFileOnStartup="false" layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" fileName="C:/Logs/IEWLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.log" archiveFileName="C:/Logs/IEWLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.{#####}.log" archiveAboveSize="20971520" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
      <target name="WriteToInfo" type="File" deleteOldFileOnStartup="false" layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" fileName="C:/Logs/IEWLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.log" archiveFileName="C:/Logs/IEWLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.{#####}.log" archiveAboveSize="20971520" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="MQTTManager" levels="Error,Trace" writeTo="WriteTo" />
      <logger name="MQTTManager" levels="Info,Debug,Warn,Error" writeTo="WriteToInfo" final="true" />
      <logger name="CORE" levels="Error" writeTo="WriteTo" />
      <logger name="CORE" levels="Info,Error,Warn,Debug" writeTo="WriteToInfo" final="true" />
      <logger name="Service" levels="Error,Trace" writeTo="WriteTo" />
      <logger name="Service" levels="Error,Debug,Warn,Info" writeTo="WriteToInfo" final="true" />
    
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll" />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />

      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />

      </dependentAssembly>
    </assemblyBinding>
    
  </runtime>
  <appSettings>
    <!--监测间隔时间(区间：10分钟(600000)~2小时(7200000))-->
    <add key="MonitorInterval" value="600000" />
    <!--多个应用程式名称用逗号隔开-->
    <add key="MonitorProcessorName" value="sqlservr,winvnc" />
    <add key="UserName" value="CIM" />
    <add key="Password" value="cimeng" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClassNameLen" value="30" />
    <add key="MethodNameLen" value="30" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.15.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>